@model EasyGram.Models.Lesson
@{
    ViewBag.Title = Model.Title;
}
<h2>@Model.Title</h2>
<p>@Model.Description</p>

@if (Model.Deadline != null)
{
    <p><b>Дедлайн:</b> @Model.Deadline.Value.ToString("dd MMMM yyyy")</p>
}

<h3>Задания</h3>
<ul>
    @foreach (var task in Model.Tasks)
    {
        <li>
            <b>@task.Title:</b> @task.Description
            <span style="color:#888;">Максимум: @task.MaxScore баллов</span>
        </li>
    }
</ul>

<h3>Материалы</h3>
<ul>
    @foreach (var m in Model.Materials)
    {
        if (m.Type == "video")
        {
            <li>
                <a href="@m.Url" target="_blank">🎥 @m.Title</a>
            </li>
        }
        else if (m.Type == "text")
        {
            <li>
                <a href="@m.Url" target="_blank">📄 @m.Title</a>
            </li>
        }
    }
</ul>
